.Card_Certificate{
    background-color: #5E15A3;
    border: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
    margin: 30px;
}

.Card_img{
    display: flex;
    width: 16rem;
}
.card_certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}