*{
    list-style: none;
}
.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card_info{
    border: 3px solid rebeccapurple;
    border-radius: 10px 10px 0px 0px ;
    width: 247px;
    margin: 30px;
    position: relative;
}
.card_body{
    margin-top: 10px;
}
.card_title{
    color: rebeccapurple;
    font-weight: 800;
    list-style: none;
}
.card_description{
    color: rebeccapurple;
    font-weight: 500;
    list-style: none;
    padding: 6px;
    text-wrap: pretty;
}
.card_img{
    width: 15rem;
    border-radius: 10px 10px 0px 0px ;
}
.card_Links{
    display: flex;
    float: right;
}
.card_Links img{
    opacity: 70%;
    width: 20px;
    margin: 10px;
}