.Card_Certificate{
    background-color: #5E15A3;
    margin: 4em;
    display: inline-block;
}


.Card_img{
    display: flex;
    width: 18rem;
    transition: transform 0.4s ease;
}

.Card_img:hover{
transform: scale(1.7);
position: static;
cursor: pointer;
}


#headerImg{
    height: max-content;
    width: max-content;
    transition: box-shadow .1s transform;
}

.title_info{
    margin-top: 1.2rem;
    font-weight: 4600;
    font-family: Arial, Helvetica, sans-serif;
}
.card_certificate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}