.containerTec {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 1.5rem;
}

.tec-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 13em;
  max-height: fit-content;
}

.img_Tecno {
  max-width: 6rem;
  margin: 1rem
}

.img_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: #fff;
  border: 0.5rem solid rgb(58, 30, 86);
  border-radius: 1.6em;
}