.containerTec {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 2rem;
}

.tec-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 13em;
  max-height: fit-content;
}

.img_Tecno {
  max-width: 4rem;
  margin: 1rem
}

.img_container {
  margin-top: 2rem;
  background-color: #ffffffb4;
  border: 0.3rem solid rgb(58, 30, 86);
  border-radius: 0.4em;
}