@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;800&display=swap');

html{
  background-color: rebeccapurple;
  scroll-behavior: smooth;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: rgb(255, 255, 255);
}
.nav_header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

main{
  margin-left: auto;
  margin-right: auto;
}

.HomePage{
display: flex;
flex-direction: column;
margin-top: 5%;
gap: 50px;
justify-content: center;
background-color: rebeccapurple;
}

.mainPage{
  padding: 20px;
  background-color: rebeccapurple;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.social_icon{
  width: auto;
}
.Social_Links1{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 150px;
  height: 50px;
}

.social_section{
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 140px;
  height: 40px;
}

.social_section p{
  margin-top: 0.6rem;
}

.social_section>a{
  margin-top: 10px;
  color: white;
}

.HomePage_Text{
text-align: center;
margin-top: 7em;
}

.text_container{
  width: 21em;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.text_roll{
  color:rgb(238, 151, 21);
}

.HomePage_Text_Name{
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.HomePage_Social{
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
}

.nav_container{
  display:  flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

a{
  text-decoration: none;
}

.card_info:hover{
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

.projects_container{
 margin-top: 6em;
 background-color: #fff;
 text-align: center;
}

.project_title{
font-size: 2rem;
color: rebeccapurple;
padding: 30px;
}

.info_aboutMe{
  text-align: center;

}

.info_aboutMe_text{
  margin: 50px;
  width: 300px;
}

.info_aboutMe_text>h2{
  margin-bottom: 20px;
}
.certificate_title{
  font-size: 2rem;
  padding: 30px;
  text-align: center;
}
