@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;800&display=swap');

html{
  background-color: #5E15A3;
  scroll-behavior: smooth;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

.nav_header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

main{
  margin-left: auto;
  margin-right: auto;
}

.HomePage{
display: flex;
flex-direction: column;
margin-top: 5%;
height: 40rem;
gap: 50px;
justify-content: center;
background-color:  #5E15A3;
}

.mainPage{
  padding: 20px;
  background-color: #7525c0;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.social_icon{
  width: auto;
  border-radius: 50%;
}

.Social_Links1{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 150px;
  height: 50px;
}

.social_section{
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 140px;
  height: 40px;
}

.social_section p{
  margin-top: 0.6rem;
}

.social_section>a{
  margin-top: 10px;
  color: white;
}

.HomePage_Text{
display: block;
text-align: center;
margin-top: 7em;
}

.text_container{
  width: 21em;
  text-align: center;
  margin: auto;
}


.text_roll{
  color:#FAD399;
}

.HomePage_Text_Name{
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.HomePage_Social{
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
}

.nav_container{
  display:  flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

a{
  text-decoration: none;
}

.card_info:hover{
  transform: scale(1.02);
  transition: 0.1s ease-in-out;
}

.projects_container{
display: flex;
justify-content: center;
align-items: center;
 margin-top: 8em;
 min-height: 55rem;
 background-color: #fff;
 text-align: center;
}
.container_prj{
  margin-top: 4rem;
  margin-bottom: 6rem;

}

.project_title{
font-size: 2rem;
color: rebeccapurple;
padding: 30px;
}

.info_aboutMe{
  display: flex;
  justify-content: center;
  text-align: center;

}
.text_container{
  font-weight: 600;
}

.info_aboutMe_text{
  margin: 50px;
  width: 300px;
}

.info_aboutMe_text>h2{
  margin-bottom: 20px;
}
.certificate_container{
  min-height: 65rem;
}
.certificate_info{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
}
.certificate_title{
  font-size: 2rem;
  padding: 30px;
  text-align: center;
}

.icon_chat{
  content: "";
  position:fixed;
  display: flex;
  margin-top: 40rem;
  border-radius: 12px;
  width: 3rem;
}

.icon_email{
  content: "";
  position:fixed;
  display: flex;
  margin-top: 36.5rem;
  width: 3rem;
  border-radius: 12px;
}
.text-color-link{
color: black;
}

@media screen and (min-width: 600px){
 .listText{
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0px 10px 10px 10px;
} 
.text_container{
  width: 25em;
  font-size: 1.4rem;
  text-align: center;
  margin: auto;
}
}

